# Folders
/src
/node_modules
/.husky
/test

# Files
.env
.DS_Store
package-lock.json

# Typescript
tsconfig.json
tsup.config.ts

# Eslint ignores
.eslintignore
.lintstagedrc
eslint.config.mjs
.prettierrc.json